/* css tutor */

.wrapper {
    display: flex;
}

header,
.header {
    background-color: blue;
    height: 20vh;
    /* display: block; old browser */
    font-size: 12px;
}

main {
    /*width: 60%;*/
    /*height: 60vh;*/
    /* background-color: rgba(255, 192, 203, 0.447); */
    /*float: left;*/
    padding: 1rem 2rem;
    flex: 6;
    /*display: flex;*/
    /*overflow: scroll;*/
}

.nav {
    /*width: 20%;*/
    background-color: #1A1F2C;
    /*float: left;*/
    /* padding: 1rem 2rem; */
    flex: 1.8;
    font-size: 15px;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
}

nav.left {
    /*float: left;*/
}

nav.right {
    /*float: right;*/
}

footer {
    background-color: green;
    height: 20vh;
    clear: both;
    /* position: absolute; */
    /* bottom: 200px; */
    /* left: 100px; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    text-decoration: none;
}